# Specify an endpoint ID if not using an AzureML-enabled notebook
# or if running this code from a different workspace.
# Example format: "/subscriptions/{subscription-id}/resourceGroups/{resource-group}/providers/Microsoft.MachineLearningServices/workspaces/{workspace-name}/onlineEndpoints/{endpoint-name}"
# If the endpoint is in this workspace, you can simply specify its name, e.g., "medimageinsight-xyz"
MI2_MODEL_ENDPOINT = "<MI2_MODEL_ENDPOINT>"


# Specify an endpoint ID if not using an AzureML-enabled notebook
# or if running this code from a different workspace.
# Example format: "/subscriptions/{subscription-id}/resourceGroups/{resource-group}/providers/Microsoft.MachineLearningServices/workspaces/{workspace-name}/onlineEndpoints/{endpoint-name}"
# If the endpoint is in this workspace, you can simply specify its name, e.g., "medimageparse-xyz"
MIP_MODEL_ENDPOINT = "<MIP_MODEL_ENDPOINT>"


# Specify an endpoint ID if not using an AzureML-enabled notebook
# or if running this code from a different workspace.
# Example format: "/subscriptions/{subscription-id}/resourceGroups/{resource-group}/providers/Microsoft.MachineLearningServices/workspaces/{workspace-name}/onlineEndpoints/{endpoint-name}"
# If the endpoint is in this workspace, you can simply specify its name, e.g., "gigapath-xyz"
GIGAPATH_MODEL_ENDPOINT = "<GIGAPATH_MODEL_ENDPOINT>"

# Root directory for data storage
DATA_ROOT = /home/azureuser/data/healthcare-ai/

## A directory with many files to test parallel processing
PARALLEL_TEST_DATA_ROOT = /home/azureuser/data/dicoms/

AZURE_OPENAI_ENDPOINT = "<AZURE_OPENAI_ENDPOINT>"
AZURE_OPENAI_API_KEY = "<AZURE_OPENAI_API_KEY>"